* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 50px 100px 0 100px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 15px;
    background-image: url('../195.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    color: skyblue;
    font-family: cursive;
}

header {
    position: relative;
    background: skyblue;
    opacity: 0.7;
    border-radius: 15px;
    border: white;
    box-shadow: 1px 1px grey;
}

header a {
    margin-left: 1em;
    text-decoration: none;
    padding: 30px;
    color: black;
    font-size: 25px;
}

.logo {
    box-shadow: 2px 2px 2px 2px black;
}

.overlay {
    background-color: transparent;
    opacity: 0.7;
    margin: 10px 5px 0 10px;
    border-radius: 15px;
    box-shadow: 2px 2px grey;
}

h1 {
    color: black;
    text-align: center;
    padding: 20px;
    line-height: 1.5em;
    z-index: 1000;
    font-family: fantasy;
}

h2 {
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 2;
    text-shadow: 2px 2px white;
    color: black;
}

button {
    margin-top: 50px;
    height: 40px;
    max-width: fit-content;
    margin-left: 2em;
    margin-bottom: 2em;
    border-radius: 50%;
    align-content: center;
    background: skyblue;
    padding: 20px;
}

h4 {
    margin-left: 50px;
    font-size: 25px;
    margin-bottom: 2em;
    text-shadow: 1px 1px silver;
    color: black;
}

.content {
    padding: 2em;
    font-family: cursive;
    font-size: 2em;
}

@media (min-width:400px) {
    h2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    button {
        margin-left: 2em;
        border-radius: 50%;
        max-width: fit-content;
        text-align: center;
        margin-bottom: 2em;
    }
}